html,
body {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #537466;
  color: #e6ebe9;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message,
#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 3rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: #093824;
  font-size: 2.5rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine,
div.mine:hover {
  background: no-repeat center/60% url('images/bomb.svg') crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #b5c3bd;
}

div.marked,
div.marked:hover {
  background: no-repeat center/60% url('images/flag.svg') #db8200;
}

.footer {
  /* display: grid; */
  /* place-items: center; */
  padding: 2rem;
}

#reset-btn {
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 0.4rem;
}

#reset-btn:hover {
  background-color: #051c12;
  color: #b5c3bd;
}
